@import url('//fonts.googleapis.com/css?family=Lato:300,300italic,400,400italic|Montserrat:700')
@import 'compass'
@import 'compass/reset'
@import '_mixins'
@import '../fancybox/jquery.fancybox'

$base-font-size: 16px
$base-line-height: 24px
@include establish-baseline


// Site-specific variables.
$orange: #df5920
$blue: #4e97c2
$text-color: #222244
$margin-top: 204px
$slide-offset: 54px
$mobile: 'screen and (max-width: 765px)'
$slide-size: 26%


@mixin lato()
  font-family: 'Lato', Helvetica, Arial, sans-serif

@mixin montserrat()
  font-family: 'Montserrat', Helvetica, Arial, sans-serif


*
  @include box-sizing(border-box)

html
  @include background-image(linear-gradient(left, $orange, darken($orange, 10%) 10px))
  background-repeat: repeat-y
  background-size: 10px 100%

body
  margin-left: 10px
  @include lato
  font-weight: 300
  @include background-image(linear-gradient(148deg, #dedede, #ffffff 400px))
  background-attachment: fixed
  color: $text-color
  // @include debug-vertical-alignment

h1, h2, h3, h4, h5, h6
  @include montserrat
  font-weight: 700

h1, h2, h3, h4
  text-transform: uppercase

h1, h2
  @include adjust-font-size-to(40px)

h3
  @include adjust-font-size-to(35px)

h4
  @include adjust-font-size-to(30px)

h5
  @include adjust-font-size-to(25px)

h6
  @include adjust-font-size-to(20px)

p
  max-width: 60em

strong, b
  font-weight: 400

em, i
  font-style: italic

hr
  height: 1px
  @include leader(2)
  @include trailer(2)
  background-color: $blue
  border: none

header

  .logo
    position: fixed
    top: 0
    right: 30px
    width: 94px
    height: 140px
    background: url('/static/images/bookmark.png') 0 0 no-repeat
    @include image-2x('/static/images/bookmark@2x.png', 94px, 140px)

    a
      position: absolute
      top: 0
      left: 14px
      width: 60px
      height: 120px

    img
      position: absolute
      bottom: 13px
      left: 14px

  h1, h2
    @include adjust-font-size-to(64px)

  .lead
    @include leader
    @include trailer
    @include lato
    font-style: italic
    @include adjust-font-size-to(24px, 3/2)
    font-weight: 300

    em, i
      font-style: normal

.container
  overflow: hidden

  p
    @include leader(1/2)
    @include trailer(1/2)

  > .content
    margin: 204px 2em 5em $slide-size
    padding-left: 50px

  .content-body
    h2, h3, h4, h5, h6
      @include leader

#slide-pink-with-border
  position: absolute
  top: $margin-top
  left: 50px
  width: $slide-size

  &.sticky
    position: fixed
    top: 50px

    a
      margin-top: 0

  a
    position: absolute
    margin-top: -18%

  img
    width: 100%

@media #{$mobile}

  #slide-pink-with-border,
  #slide-pink-with-border.sticky
    position: static
    display: block
    margin: 0 auto
    width: 100%
    margin-left: 10px

    a
      position: relative
      margin-top: 0

  header
    h1, h2
      @include adjust-font-size-to(32px, 3/2)

    .lead
      @include adjust-font-size-to(20px)

  h1, h2, h3, h4, h5, h6
    @include adjust-font-size-to(24px, 1)

  .container
    > .content
      @include leader
      margin-left: 2em
      padding-left: 0

a
  @include link-colors($blue)

ul
  padding-left: 2em

  li
    padding-left: 0.75em
    background: url('/static/images/bullet.svg') 0 0.6em no-repeat

    .no-svg &
      background-image: url('/static/images/bullet.gif')

ol
  list-style-type: decimal
  list-style-position: inside
  padding-left: 3em
  text-indent: -1em

li
  @include trailer(1/3)

blockquote
  @include leader
  @include trailer
  border-left: 2px solid $blue
  padding-left: 2em


// Override some fancybox paths. We do this here (instead of in the fancybox
// CSS) so that we can just pull in new versions of the fancybox CSS when it's
// updated without having to worry about recreating our changes.

#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span
  background-image: url('/static/fancybox/fancybox_sprite.png')

#fancybox-loading div
  background-image: url('/static/fancybox/fancybox_loading.gif')

.fancybox-nav
  background-image: url('/static/fancybox/blank.gif')

.fancybox-overlay
  background-image: url('/static/fancybox/fancybox_overlay.png')
